.overlay-bar {
  position: fixed;
  top: 0;
  right: -200%;
  width: 480px;
  height: 100vh;
  display: block;
  z-index: 98;
  background-color: #fff;
  padding-top: 80px;
  overflow-y: scroll;
  transition: right 0.4s ease;

  .overlay-bar__title {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
  }

  .card {
    margin: 1rem;
    width: auto;
  }
}

.overlay-bar.is-active {
  right: 0;
  overflow-y: scroll;
}

.overlay-bar img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 500px) {
  .overlay-bar {
    width: 100%;
    right: -100%;
  }
}
