@import './styles/classes.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
}

/* Mobile layout */
@media only screen and (max-width: 600px) {
  .show-on-mobile {
    display: block;
  }
  .hidden-on-mobile {
    display: none;
  }
}
